@import 'global/colors';

// Wrapper
$wrapper-max-width: 85%;
$nav-max-width: 85%;
$base-container: 100%;
$base-container-min: 50rem;
$base-container-med: 85%;
$base-container-large: 90%;

// Size
$base-font-size: 10px;

$font-small: 1.1rem;
$font-med: 1.2rem;
$font-large: 1.4rem;
$font-wide: 1.6rem;
$font-mega: 2rem;
$font-ultra: 2.6rem;
$font-legend: 4.9rem;

// Padding
$base-padding: 1.5rem;

$padding-small: 0.5rem;
$padding-med: 1rem;
$padding-large: 2rem;
$padding-wide: 3rem;
$padding-mega: 4rem;
$padding-ultra: 4.5rem;

// Margin
$base-margin: 1rem;

$margin-small: 0.5rem;
$margin-med: $base-margin;
$margin-large: 1.5rem;
$margin-wide: 2rem;
$margin-mega: 4rem;
$margin-ultra: 5rem;


// Header Nav
$nav-min-height: 10rem;

// Base Z-index
$base-z-index: 19;
$priority-z-index: 20;

// Subscribe
$subscribe-bg: #0b375a;
$placeholder-color: #6e6e6e;

// Footer

$footer-bg: $blue-500;
