html {
  //This defines what 1rem is
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: primary-font;
}

* {
  margin: 0;
  padding: 0;
}

.border-bottom{
  border-bottom: 1px solid $blue-300;
}
