// base colors
$primary-color: #165E98;
$secondary-color: #32BEB7;
$tertiary-color: #E6DC1A;

$white: #FFFFFF;
$black: #000000;
$black-2: #2c2c2c;
$yellow: #f3e918;

$blue-100: #2C88C4;
$blue-200: #2C86C3;
$blue-300: #195d99;
$blue-400: #185D97;
$blue-500: #083E66;

// Nav links
$nav-link: $blue-100;
$cta-button: $secondary-color;

// Titles
$title-1: $blue-300;
$title-2: $blue-400;
$title-3: $secondary-color;

// Paragraphs

// Borders
//$border-1

// Chat Balloons
$balloon-1: $primary-color;
$balloon-2: $secondary-color;
$balloon-3: $tertiary-color;

$chat-border: 0.55rem
