.site {

  &-container {
    margin: 0 auto;
    max-width: 100%;

    &.small {
      max-width: $base-container-min;
    }

    &.medium {
      max-width: $base-container-med;
    }

    &.large {
      max-width: $base-container-large;
    }

    &.fluid {
      max-width: 100%;
    }
  }
}
