@font-face {
  font-family: "primary-font";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "primary-font-regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "primary-font-light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "primary-font-semibold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

.title {
  font-family: primary-font;
  color: #165E97;
  font-size: 4.9rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.2px;
  padding-bottom: $padding-large;
  margin-bottom: 0;

  &.full {
    width: 100%;
  }

  &.bold {
    font-family: primary-font-semibold;
  }

  &.capital {
    text-transform: uppercase;
  }

  &.small {
  }

  &.medium {
    font-size: $font-ultra;
  }

  &.large {
  }
}
