.banner {
  position: relative;

  &-header {
    position: absolute;
    z-index: $base-z-index;
    top: calc(#{$nav-min-height + 2rem});
    text-align: center;
    width: 100%;
  }

  &-footer {
    position: relative;
    font-family: primary-font;
    display: flex;
    flex-direction: column;
    padding: $padding-mega $base-padding 0;
    background-color: $blue-500;
    z-index: $base-z-index;

    p {
      font-size: $font-ultra;
      color: $blue-100;
      max-width: 52%;
      margin: 0 auto;
      text-align: center;
      letter-spacing: -1.22px;

      &.heavy {
        font-family: primary-font-semibold;
        color: $title-3;
      }

      &:last-child {
        margin-bottom: $margin-mega;
      }
    }

  }
}
