/* PARALLAX */
//$baseurl: 'http://www.firewatchgame.com/';
$baseurl: '../';

.body {
  //margin: -5px;
}

.keyart, .keyart_layer {
  height: 100rem
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: 0 center;
  background-size: cover;
  //background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}


#keyart-0 {
  background-image: url($baseurl + 'images/parallax/layer-8.png');
  //background-color: #ffaf1b;
}

#keyart-1 {
  background-image: url($baseurl + 'images/parallax/layer-7.png');
}

#keyart-2 {
  background-image: url($baseurl + 'images/parallax/layer-6.png');
}

#keyart-3 {
  background-image: url($baseurl + 'images/parallax/layer-5.png');
}

#keyart-4 {
  background-image: url($baseurl + 'images/parallax/layer-4.png');
}

#keyart-5 {
  background-image: url($baseurl + 'images/parallax/layer-3.png');
}

#keyart-6 {
  background-image: url($baseurl + 'images/parallax/layer-2.png');
}

#keyart-7 {
  background-image: url($baseurl + 'images/parallax/layer-1.png');
}

#keyart-8 {
  background-image: url($baseurl + 'images/parallax/layer-9.png');
}

#keyart-scrim {
  //background-color: #ffaf00;
  opacity: 0;
}

//@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
//  #keyart-0 {
//    background-image: url($baseurl + 'images/parallax/parallax0@2x.png');
//    background-color: #ffaf1b;
//  }
//  #keyart-1 {
//    background-image: url($baseurl + 'images/parallax/parallax1@2x.png');
//  }
//  #keyart-2 {
//    background-image: url($baseurl + 'images/parallax/parallax2@2x.png');
//  }
//  #keyart-3 {
//    background-image: url($baseurl + 'images/parallax/parallax3@2x.png');
//  }
//  #keyart-4 {
//    background-image: url($baseurl + 'images/parallax/parallax4@2x.png');
//  }
//  #keyart-5 {
//    background-image: url($baseurl + 'images/parallax/parallax5@2x.png');
//  }
//  #keyart-6 {
//    background-image: url($baseurl + 'images/parallax/parallax6@2x.png');
//  }
//  #keyart-7 {
//    background-image: url($baseurl + 'images/parallax/parallax7@2x.png');
//  }
//  #keyart-8 {
//    background-image: url($baseurl + 'images/parallax/parallax8@2x.png');
//  }
//}
