/* PARALLAX */
$baseurl: 'http://www.firewatchgame.com/';

.body {
  //margin: -5px;
}

.keyart, .keyart_layer {
  height: 100rem
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 103.8rem;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}

#keyart-0 {
  background-image: url($baseurl + 'images/parallax/parallax0.png');
  background-color: #ffaf1b;
}

#keyart-1 {
  background-image: url($baseurl + 'images/parallax/parallax1.png');
}

#keyart-2 {
  background-image: url($baseurl + 'images/parallax/parallax2.png');
}

#keyart-3 {
  background-image: url($baseurl + 'images/parallax/parallax3.png');
}

#keyart-4 {
  background-image: url($baseurl + 'images/parallax/parallax4.png');
}

#keyart-5 {
  background-image: url($baseurl + 'images/parallax/parallax5.png');
}

#keyart-6 {
  background-image: url($baseurl + 'images/parallax/parallax6.png');
}

#keyart-7 {
  background-image: url($baseurl + 'images/parallax/parallax7.png');
}

#keyart-8 {
  background-image: url($baseurl + 'images/parallax/parallax8.png');
}

#keyart-scrim {
  background-color: #ffaf00;
  opacity: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #keyart-0 {
    background-image: url($baseurl + 'images/parallax/parallax0@2x.png');
    background-color: #ffaf1b;
  }
  #keyart-1 {
    background-image: url($baseurl + 'images/parallax/parallax1@2x.png');
  }
  #keyart-2 {
    background-image: url($baseurl + 'images/parallax/parallax2@2x.png');
  }
  #keyart-3 {
    background-image: url($baseurl + 'images/parallax/parallax3@2x.png');
  }
  #keyart-4 {
    background-image: url($baseurl + 'images/parallax/parallax4@2x.png');
  }
  #keyart-5 {
    background-image: url($baseurl + 'images/parallax/parallax5@2x.png');
  }
  #keyart-6 {
    background-image: url($baseurl + 'images/parallax/parallax6@2x.png');
  }
  #keyart-7 {
    background-image: url($baseurl + 'images/parallax/parallax7@2x.png');
  }
  #keyart-8 {
    background-image: url($baseurl + 'images/parallax/parallax8@2x.png');
  }
}
