.header {
  position: relative;
  z-index: $base-z-index;
}

.keyart {
  .balloon {
    position: absolute;
    bottom: 35%;
    right: 17%;
  }
}

.service {
  position: relative;
  z-index: $base-z-index;
  background: inherit;

  .section-header {
    //padding-bottom: $padding-large;
    background-color: $blue-500;

    .title {
      color: $white;
    }
  }

  .tab-wrapper {
    position: relative;
    display: block;
    background-color: $blue-500;
    //height: 10.8rem;
    //overflow: hidden;
  }

  ul.tabs {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;

    li {
      display: flex;
      border-top-left-radius: 1.8rem;
      overflow: hidden;
      border-top-right-radius: 1.8rem;
      //width: 33.33%;

      &:first-child, &:nth-child(2) {
        //width: 35%;
      }

      a {
        font-family: primary-font;
        color: $white;
        font-size: 15px;
        padding: $padding-large $padding-wide;
        text-align: center;
        text-transform: capitalize;
      }

      & > a:hover {
        background: unset;
        font-weight: 600;
      }

      & > a:focus, & > a[aria-selected=true] {
        background: unset;
      }

      &.bg-yellow {
        background-color: #f3e918;

        a {
          color: $primary-color;
        }
      }

      &.bg-blue-1 {
        background-color: #2c88c4;

        a {
          color: $white;
        }
      }

      &.bg-white {
        background-color: $white;

        a {
          color: $primary-color;
        }
      }

      &.bg-green {
        background-color: $secondary-color;

        a {
          color: $white;
        }
      }

      &.bg-blue-2 {
        background-color: #195d99;

        a {
          color: $white;
        }
      }
    }
  }

  .tabs {
    &-content {
      position: relative;
      padding-top: $padding-mega;
      padding-bottom: $padding-mega;
      width: 100%;
      max-width: 100rem;
      margin: 0 auto;
      border: none;
      //border-bottom: solid 2px $blue-300;
    }

    &-panel {
      .title {
        font-size: 26px;
        font-weight: 300;
        color: $blue-100;
        text-transform: capitalize;
        margin-bottom: $margin-wide;
      }
    }

    &-body {
      display: inline-flex;
      justify-content: left;
      align-items: normal;
      border-radius: 1.8rem;
      border: solid 4px $secondary-color;
      background-color: $white;
      overflow: hidden;

      .body {

        &-text {
          width: 75%;
          padding: $padding-wide;

          p {
            font-size: $font-wide;
            font-weight: 300;
            color: $black-2;
            min-height: 15rem;
            margin-bottom: $margin-wide;
          }

          .cta {

          }
        }

        &-img {
          width: 25%;

          img {
            width: 100%;
            height: 100%;
          }

        }
      }

    }
  }
}

.watch-now {
  position: relative;
  z-index: $base-z-index;
  background: inherit;
  padding-top: $padding-ultra;

  &-header {
  }

  .balloon {
    &-container {
      padding: $padding-large 0;
    }
  }

  .ted {
    &-wrapper {
      display: flex;
      align-items: flex-end;
    }

    &-images {
      height: 30rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;

      div:first-child {
        margin-left: auto;

        & > img {
          max-width: 10rem;
        }
      }

      div:last-child {
        & > img {
          max-height: 30rem;
        }
      }

    }

    &-text {
      display: inline-flex;
      flex-direction: column;
      height: 17.5rem;
      width: 60%;
      justify-content: flex-end;
      padding-top: $padding-wide;
      padding-left: $padding-wide;
      padding-right: $padding-wide;
      border-top: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
      border-top-left-radius: 3.5rem;

      .logo {
        height: 3.6rem;
        margin-bottom: $margin-large;

        img {
          max-height: 100%;
          width: auto;
        }
      }

      .para {
        font-size: 20px;
        //line-height: 1.2;
        //letter-spacing: -0.23px;
        color: $black-2;
      }
    }
  }
}

.expertise {
  position: relative;
  z-index: $base-z-index;
  background: inherit;
  padding-top: $padding-ultra;

  &.chats {
    background-image: linear-gradient(to top, #F2F3E5, $white);
  }
}

.insta-layout {
  padding: $padding-large 0 $padding-mega;

  .card {
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      min-width: 30%;
      min-height: 20rem;
      border-radius: 3rem;
      padding: $base-padding;
      overflow: hidden;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      font-family: Colfax;
      font-size: $font-wide;
      color: $white;
    }
  }
}

.testimonials {
  position: relative;
  z-index: $priority-z-index;
  background: #fff;

  .orbit {
    &-container {
      background-image: url('../images/carousel-footer.png'), url('../images/carousel-bg.png');
      background-position: bottom -1px right -1px, top;
      background-size: 40% auto, cover;
      background-repeat: no-repeat;
    }

    &-slide {
      min-height: 80vh;

      .author {
        .image {
          border: 1px solid $white;
          border-radius: 50%;
          width: 10rem;
          height: 10rem;
          margin: $margin-small auto;
          overflow: hidden;

          img {
            max-width: 10rem;
            max-height: 10rem;
          }
        }

        p {
          font-family: primary-font-regular;
          font-size: $font-large;
          text-align: center;
          color: $white;
          margin: 0;
          text-transform: capitalize;
        }
      }
    }

    &-text {
      position: relative;

      span {
        position: absolute;
        top: -4rem;
        left: -4rem;
        font-size: 3rem;
        color: $white;
        height: 3rem;
        width: 3rem;
      }

      p {
        font-size: $font-ultra;
        color: $white;
      }
    }

    &-previous {
      left: 6%
    }

    &-next {
      right: 6%
    }

    &-previous,
    &-next {
      &:active, &:hover, &:focus {
        background-color: unset;
        cursor: pointer;
      }

      span i {
        font-size: $font-ultra;
      }
    }
  }
}

.our-partners {
  position: relative;
  z-index: $priority-z-index;
  background: $white;
  padding-top: $padding-ultra;

  .balloon-container {
    margin-top: $margin-wide;
    margin-bottom: $margin-ultra;
  }
}

.image-slider {
  display: flex;
  padding: $padding-wide 0;

  .slider {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    margin: 0 auto;
    background-color: inherit;
  }

  .slick {
    &-prev,
    &-next {
      height: auto;
      width: auto;

      &:before {
        position: absolute;
        font-family: FontAwesome;
        width: 3rem;
        height: 3rem;
        font-size: $font-ultra;
        color: $secondary-color;
      }
    }

    &-prev {
      left: 0;

      &:before {
        content: "\f053";
      }
    }

    &-next {
      right: 0;

      &:before {
        content: "\f054";
      }
    }

    &-slide {
      padding: 0 $padding-med;
      overflow: hidden;

      img {
        width: 80%;
        height: auto;
        margin: auto;
      }

    }

    &-slider {
      .slick-track {
        display: flex;
        align-items: center;
      }
    }
  }

}

.chat {
  &-layout {
    padding: $padding-large 0 $padding-mega;
  }

  &-wrapper {
  }

  &-item {
    width: 50%;
    padding: 0 $padding-large;
    margin-bottom: $margin-mega;

    .balloon {
      padding: $padding-large $padding-mega;

      &-container {
      }

      .title {
        font-size: $font-ultra;
      }
      &.round {
        border-radius: 3rem;
      }
    }
  }

  &-box {
    background-color: $white;
    background-image: url('../images/carousel-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //width: 20rem;
    height: 20rem;


    &.tri-bottom {
      &-right {
        border-radius: 3rem 3rem 3rem 3rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 75%, 100% 90%, 80% 75%, 0% 75%);
      }

      &-left {
        border-radius: 3rem 3rem 3rem 3rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%, 0 90%, 7% 75%, 0% 75%);
      }
    }
  }

  &-text {
    font-size: $font-wide;
    color: $black-2;
    text-align: left;
  }
}

.subscribe {
  position: relative;
  z-index: $priority-z-index;
  background: $subscribe-bg;
  padding: $padding-wide 0;

  p {
    font-family: primary-font-regular;
    font-size: $font-large;
    font-weight: 500;
    text-align: center;
    line-height: 1.44;
    color: $white;
    max-width: 70rem;
    margin: 0 auto;
  }

  .form {
    max-width: 45rem;
    margin: $margin-wide auto;

    .input {
      &-group {
        border-radius: 1.2rem;
        overflow: hidden;
        height: 4rem;
        background-color: $white;

        [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number],
        [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, input {
          padding: $padding-small $base-padding;
          height: 4rem;
          font-size: $font-mega;
          line-height: 1.4;
          color: $placeholder-color;

          ::placeholder {
            opacity: 0.6;
          }
        }

        [type=submit] {
          background-color: $tertiary-color;
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }
  }
}

.footer {
  position: relative;
  z-index: $priority-z-index;
  padding: $padding-mega 0;
  background-color: $footer-bg;
  color: $white;

  .link-wrapper {
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;

      li {
        font-size: 0.9rem;
        list-style-type: none;
        padding-bottom: $base-padding;

        a {
          color: inherit;
        }

        &.title {
          font-size: 1.1rem;
          color: $white;
          text-transform: capitalize;

          &:after {
            position: relative;
            content: '\f0d7';
            font-family: FontAwesome;
            top: 0;
            right: -1rem;
            color: inherit;
          }
        }
      }
    }
  }

  .social-media {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: inline-flex;
      height: 5rem;
      align-items: center;
      margin: 0;

      li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin-right: $margin-large;
        border-radius: 50%;
        background-color: $white;

        i {
          //color: $primary-color;
          color: $blue-500;
          font-size: $font-wide;
          line-height: 2;
        }

        a {
        }
      }
    }

    &-wrapper {
      display: flex;

      .logo {
        display: flex;
        height: 5rem;
        align-items: center;
      }
    }

  }

  .address {
    margin: 3rem 0;
    padding: 0.6rem 0;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;

      li {
        display: inline-flex;
        font-size: $font-wide;
        line-height: 1.25;
        text-transform: capitalize;

        &:not(:first-child) {
          border-left: 1px solid $white;
          padding-left: 5rem;
        }
      }
    }
  }

  .copyright {
    font-size: $font-wide;
    line-height: 1.25;
  }
}
