/* Ref https://codepen.io/Founts/pen/gmhcl */
/* CSS balloon */

.balloon {
  display: inline-block;
  position: relative;
  height: auto;
  background-color: $white;

  &.bg-primary {
    background-color: $balloon-1;
  }

  &.bg-secondary {
    background-color: $balloon-2;
  }

  &.bg-tertiary {
    background-color: $balloon-3;
  }

  &.bg-white {
    background-color: $white;
  }

  &.tri-bottom-left {
    border-bottom-left-radius: 0;

    &.bg-primary {
      &:after {
        border-color: transparent transparent transparent $balloon-1;
      }
    }

    &.bg-secondary {
      &:after {
        border-color: transparent transparent transparent $balloon-2;
      }
    }

    &.bg-tertiary {
      &:after {
        border-color: transparent transparent transparent $balloon-3;
      }
    }

    &.bg-white {
      &:after {
        border-color: transparent transparent transparent $white;
      }
    }

    &:after {
      left: 0;
      right: auto;
    }

  }

  &.tri-bottom-right {

    border-bottom-right-radius: 0;

    &.bg-primary {
      &:after {
        border-color: transparent $balloon-1 transparent transparent;
      }
    }

    &.bg-secondary {
      &:after {
        border-color: transparent $balloon-2 transparent transparent;
      }
    }

    &.bg-tertiary {
      &:after {
        border-color: transparent $balloon-3 transparent transparent;
      }
    }

    &.bg-white {
      &:after {
        border-color: transparent $white transparent transparent;
      }
    }

    &:after {
      left: auto;
      right: 0;
    }

  }

  &.tri-bottom-left,
  &.tri-bottom-right {
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -1.5rem;
      border: 1.5rem solid $white;
    }
  }

  &-text {

    p {
      /* remove webkit p margins */
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    &.text-white {
      p {
        color: $white;
      }
    }

    &.text-primary {
      p {
        color: $primary-color;
      }
    }

    &.capitalize {
      text-transform: uppercase;
    }

    &.bg-primary {
      background-color: $balloon-1;
    }

    &.bg-secondary {
      background-color: $balloon-2;
    }

    &.bg-tertiary {
      background-color: $balloon-3;
    }

  }


  &.small {
    padding: $padding-small $padding-med;
    font-size: $font-large;
    &.round {
      border-radius: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
    }
  }

  &.medium {
    padding: $padding-med $padding-large;
    font-size: $font-mega;
    &.round {
      border-radius: 1.2rem;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
    }
  }

  &.large {
    padding: $padding-med $padding-large;
    font-size: $font-ultra;
    &.round {
      border-radius: 1.8rem;
      -webkit-border-radius: 1.8rem;
      -moz-border-radius: 1.8rem;
    }
  }

  &.border {
    //border: $chat-border solid;
  }
}

.border {
  &.tri-bottom {
    &-left, &-right { // common
      &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: auto;
        bottom: -4.3rem;
        border: 3.8rem solid;
      }

      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: auto;
        bottom: -3rem;
        border: 3rem solid;
      }
    }

    &-left {
      &:before {
        left: -0.6rem;
        right: auto;
      }

      &:after {
        left: 0;
        right: auto;
      }
    }

    &-right {
      &:before {
        left: auto;
        right: -0.55rem;
      }

      &:after {
        left: auto;
        right: 0.1px;
      }
    }
  }
}

.br-primary {
  border: $chat-border solid $primary-color;

  &.tri-bottom {
    &-left {
      &:before {
        border-color: transparent transparent transparent $primary-color;
      }

      &:after {
        border-color: transparent transparent transparent $primary-color;
      }
    }

    &-right {
      &:before {
        border-color: transparent $primary-color transparent transparent;
      }

      &:after {
        border-color: transparent $primary-color transparent transparent;
      }
    }
  }
}

.br-secondary {
  border: $chat-border solid $secondary-color;

  &.tri-bottom {
    &-left {
      &:before {
        border-color: transparent transparent transparent $secondary-color;
      }

      &:after {
        border-color: transparent transparent transparent $secondary-color;
      }
    }

    &-right {
      &:before {
        border-color: transparent $secondary-color transparent transparent;
      }

      &:after {
        border-color: transparent $secondary-color transparent transparent;
      }
    }
  }
}

.br-tertiary {
  border: $chat-border solid $tertiary-color;

  &.tri-bottom {
    &-left {
      &:before {
        border-color: transparent transparent transparent $tertiary-color;
      }

      &:after {
        border-color: transparent transparent transparent $tertiary-color;
      }
    }

    &-right {
      &:before {
        border-color: transparent $tertiary-color transparent transparent;
      }

      &:after {
        border-color: transparent $tertiary-color transparent transparent;
      }
    }
  }

}

.chat-layout{

}
