.cta {
  font-size: $font-wide;
  font-weight: 300;
  text-transform: capitalize;

  a {
    padding-right: 2rem;
    position: relative;
    color: $cta-button;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f105';
      right: 0;
      top: 0;
      font-size: $font-mega;
      line-height: normal;
    }
  }
}
