.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: $nav-min-height;
  z-index: $priority-z-index;
  padding: $padding-wide $padding-med;

   ul {
    li {
      position: relative;
      z-index: 20;

      &.is-dropdown-submenu-parent {
        position: relative;
        //border: 1px solid #333;

        > a:after {
          position: absolute;
          font-family: 'FontAwesome';
          content: '\f107' !important;
          right: 0 !important;
          top: 0 !important;
          margin: 0 !important;
          width: auto !important;
          height: auto !important;
          font-size: 2.5rem;
          line-height: normal;
          border: none !important;
          transform: translate(-120%, 0);
        }
      }

      &.logo {
        margin-right: 14rem;

        img {
          max-width: 11rem;
        }
      }

      a {
        font-family: primary-font;
        color: $nav-link;
        font-size: $font-large;
        text-transform: uppercase;
      }

      > ul.menu.submenu {
        min-width: unset;
        width: 100%;

        li {
          padding-top: $padding-small;
          a:hover{
            font-weight: bold;
          }
        }
      }
    }
  }

}
